body {
    background-color: #f4f4f9;
}

h1, h2 {
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 100%;
    padding: 20px;
}

#inputContent, #resultContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width:500px ;
    min-width: 420px ;
}

button {
    font-size: 16px;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 14px;
    }
    #inputContent, #resultContent {
        padding: 15px;
        font-size: 14px;
    }
}
